<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdk.holagames.com.mywarsdkforandroid"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


  <uses-sdk
      android:minSdkVersion="15"
      android:targetSdkVersion="25" />

  <application
       android:allowBackup="true">
    <activity
        android:name="sdk.holagames.com.mywarsdkforandroid.MainActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:screenOrientation="landscape"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>

  </application>

</manifest>
